html, body{
    margin: 0;
    padding: 0;

  
}

table{
    text-align: left;
}
 header{
    background-color: #007BFF;
    padding: 1rem 0;
 }
 
h1, ul, main {
    width: 90%;
    margin: 0 auto
}

tr:first-child{
    font-weight: 700;
}


h1 {
    
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px; 
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0; 
}

li {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

form {
    margin: 2rem;
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007BFF; 
    color: #fff;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style: none; 
    padding: 0;
}


